@model Imagem
@{
    ViewData["Title"] = Model.Titulo + " - Detalhes";
}

<h1>ExibirDetalhes</h1> 

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="figure-img">
                <img src="~/@(Model.Caminho)" class="border border-dark rounded" />
            </div>
        </div>
        <div class="col-sm-4">
            <h2>@(Model.Titulo)</h2>
            <a asp-action="TodasImagens" class="text-dark">Voltar</a>
        </div>
    </div>
</div>