@model List<SistemaFotos.Web.Models.Imagem>
@{
    ViewData["Title"] = "Todas Imagens";
}

<div class="text-center">
    <h1>Todas Imagens</h1>
    <br />
    <div class="container">

        <div class="row">
            @foreach (var img in Model)
            {
                <div class="col-sm">
                    <img class="border border-dark rounded" src="~/@(img.Caminho)">
                    <p>@img.Titulo</p>
                    <a asp-action="DetalhesImagem" asp-controller="Albuns" asp-route-id="@img.Id" class="text-dark">
                        Detalhes
                    </a>
                     | 
                    <a asp-action="AlterarDetalhesImagem" asp-controller="Albuns" asp-route-id="@img.Id" class="text-dark">
                        Alterar
                    </a>
                    <br />
                    <br />
                </div>
            }
        </div>
    </div>
</div>