@model SistemaFotos.Web.Models.ImagemUpload

<div class="container">
    <form asp-controller="Home" asp-action="SubirImagem" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input asp-for="Titulo" type="text" id="titulo" class="form-control" />
        </div>
         @*<div class="form-group">
            <label asp-for="Descricao">Descrição</label>
            <input asp-for="Descricao" type="text" id="descricao" class="form-control" />
        </div>*@ 
        <div class="form-group">
            <label asp-for="Arquivo">Carregar Imagem</label>
            <input asp-for="Arquivo" type="file" class="form-control-file"
                   accept="image/png, image/jpg, image/jpeg"/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>