@model SistemaFotos.Web.Models.Album

<div class="container">
    <form asp-controller="Home" asp-action="SubirImagem" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input asp-for="Titulo" type="text" id="titulo" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Descricao">Descrição</label>
            <input asp-for="Descricao" type="text" id="descricao" class="form-control" />
        </div>
        <div class="form-group">
            <label for="uploadimagem">Carregar Imagem</label>
            <input type="file" id="uploadImagem" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>